.row {
margin-bottom: 15px;
}
section > div {
	border: 03px solid black;
	background-color: red;
	margin: 3px;

}
.b {
background: 10px blue ;
 position: absolute;
 top: 0;
 right: 0;
 font-weight: bold;
 height: 35px;
 width: 120px;
 padding: 10px;
 text-align: center;
}
.g {
background: 10px green ;
position: absolute;
top: 0;
right: 0;
font-weight: bold;
height: 35px;
width: 120px;
padding: 10px;
text-align: center;

}
.y {
background: 10px yellow ;
 position: absolute;
 top: 0;
 right: 0;
 font-weight: bold;
 height: 35px;
 width: 120px;
 padding: 10px;
 text-align: center;
}
@media (min-width: 990px){
    .col-lg-4{
        width: 33.33%;
        float: left;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.c-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      margin-left: -10px;
      width: 100%;
    }
  }
  
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
    }
